* {
  box-sizing: border-box;
}

.row {
  margin-top: 80px;
  column-gap: 11px;
  display: flex;
  width: 1273px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-flow: row wrap; */
}

.leftSec {
  margin-top: 120px;
  margin-left: 90px;
  flex: 50%;
  height: 400px;
  width: 100px;
  /* background-color: red; */
  /* margin-right: 15px; */
}
.rightSec {
  padding-left: 164px;
  flex: 39%;
  height: 385px;
  margin-top: 69px;
  width: 100px;
  /* background-color: red; */
}

@media (max-width: 800px) {
  .leftSec,
  .rightSec {
    margin-bottom: 80px;
    flex: 100%;
    row-gap: 50px;
  }
  .rightSec {
    padding-left: 31px;
  }
  /* .featureCards {
    flex-direction: column;
  } */
  .card {
    margin-bottom: 20px;
  }
  .features {
    width: 385px;
  }
}

/* .galleryImg:hover {
  background-color: aqua;
} */

@media (max-width: 1200px) {
  .featureCards {
    flex-direction: column;
  }
}

.galleryImg {
  border-radius: 4px;
  padding: 29px 18px;
  height: 102px;
  width: 102px;
}

.gallery {
  column-gap: 12px;
  width: 379px;
  display: flex;
  color: white;
}

.component {
  height: 100px;
  width: 100px;
}
.component:hover {
  font-size: 25px;
  color: chocolate;
}

/* form  */
input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(199, 197, 197);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.button {
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
  height: 50px;
  width: 270px;
  padding: 16px 100px;
  background-color: rgb(27, 26, 26);
}

.form {
  height: 380px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 15px;
  background-color: white;
  width: 310px;
}

/* bottom section  */

.featureCards {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 98px;
  display: flex;
}
.card {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 200px;
}

@media (max-width: 1080px) {
  .leftSec {
    font-size: 10px;
    margin-left: 15rem;
    height: 170px;
    margin-top: 20px;
  }
  .galleryImg {
    border-radius: 4px;
    padding: 13px 8px;
    height: 50px;
    width: 51px;
  }
  .gallery {
    margin-top: -3rem;
    width: 293px;
  }
  i.fas.fa-chevron-left,
  i.fas.fa-chevron-right {
    padding-top: 23px;
  }
  .rightSec {
    padding-left: 15rem;
  }
  .features {
    display: inline;
    width: 403px;
  }
  .features h4,
  .features h2 {
    display: table;
    /* align-items: initial; */
    /* padding-left: 68px; */
  }

  .img6,
  .img5 {
    display: none;
  }

  .form {
    width: 275px;
  }

  .button {
    width: 243px;
  }

  .featureCards {
    align-items: baseline;
    padding-left: 30rem;
  }

  .row {
    width: 775px;
  }
}

.country {
  width: 138%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
}

i.fas.fa-chevron-left,
i.fas.fa-chevron-right {
  padding-top: 42px;
}

span {
  display: block;
  text-align: center;
}

.features {
  margin-top: 80px;
  width: 1250px;
  align-items: center;
  justify-content: center;
}

.fimg {
  background: rgba(red, green, blue, alpha);
  background-color: rgba(red, green, blue, 0.4);
}

/* .galleryImg {
  transition: transform 0.7s ease-in-out;
} */
.galleryImg:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(360deg);
  cursor: pointer;
}

.fimg:hover {
  padding: 10px 20px;
  cursor: pointer;
}
