* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 102.08px);
  width: 90%;
  margin: auto;
}

.leftSec {
  flex: 1;
  height: 400px;
  width: 100px;
  padding: 1rem;
  min-width: 300px;
}
.rightSec {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  /* background-color: red; */
}

.galleryImg {
  border-radius: 4px;
  padding: 29px 18px;
  height: 102px;
  width: 102px;
}

.gallery {
  column-gap: 12px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.component:hover {
  font-size: 25px;
  color: chocolate;
}

/* form  */
input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(199, 197, 197);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.button {
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 5px;
  height: 50px;
  width: 270px;
  padding: 16px 100px;
  background-color: rgb(27, 26, 26);
}

.form {
  height: 380px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 15px;
  background-color: white;
  width: 310px;
}

/* bottom section  */

.card {
  margin-bottom: 2rem;
}

.featureCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 98px;
}

i.fas.fa-chevron-left,
i.fas.fa-chevron-right {
  padding-top: 42px;
}

span {
  display: block;
  text-align: center;
}

.features {
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 6rem auto;
}

.fimg {
  background: rgba(red, green, blue, alpha);
  background-color: rgba(red, green, blue, 0.4);
}

/* .galleryImg {
  transition: transform 0.7s ease-in-out;
} */
.galleryImg:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(360deg);
  cursor: pointer;
}

.fimg:hover {
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 836px) {
  .img6 {
    display: none;
  }
}

@media screen and (max-width: 712px) {
  .img5 {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .img4 {
    display: none;
  }
}

@media only screen and (max-width: 1052px) {
  .row {
    flex-direction: column;
  }
  .leftSec,
  .rightSec {
    width: 100%;
  }
}
